.label {
  font-weight: bold;
}

.value {
  color: #666;
}

.custom.mat-card {
  margin: 3rem 8px;
  transition: all .2s ease-in-out;
}

.custom.mat-card:hover {
  transform: scaleX(1.01);
  -webkit-box-shadow: 4px 6px 26px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 6px 26px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 6px 26px 0px rgba(0,0,0,0.75);
}

